.purchased {
  text-decoration: line-through;
  cursor: pointer;
}

.product {
  cursor: pointer;
}

.remove {
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

li {
  width: fit-content;
  font-size: 20px;
  height: 25px;
}

button {
  margin-left: 10px;
}